<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- YAML Import -->
    <xacro:property name="yaml_file" value="$(find qbot_description)/config/qbotProperties.yaml"/>
    <xacro:property name="props"     value="${xacro.load_yaml(yaml_file)}"/>

    <!-- Model Properties -->

    <xacro:property name="base_length"            value="${props['base_length']}"/>
    <xacro:property name="base_width"             value="${props['base_width']}"/>
    <xacro:property name="base_height"            value="${props['base_height']}"/>
    <xacro:property name="base_link_offset"       value="${props['base_link_offset']}"/>
    <xacro:property name="base_mass"              value="${props['base_link_mass']}"/>

    <xacro:property name="wheel_radius"           value="${props['wheel_radius']}"/>
    <xacro:property name="wheel_thickness"        value="${props['wheel_thickness']}"/>
    <xacro:property name="wheel_offset_z"         value="${props['wheel_offset_z']}"/>
    <xacro:property name="wheel_separation"       value="${props['wheel_separation']}"/>
    <xacro:property name="wheel_mass"             value="${props['wheel_mass']}"/>

    <xacro:property name="caster_wheel_mass"      value="${props['caster_wheel_mass']}"/>
    <xacro:property name="caster_wheel_radius"    value="${props['caster_wheel_radius']}"/>
    <xacro:property name="caster_offset_z"        value="${props['caster_offset_z']}"/>
    <xacro:property name="caster_offset_x"        value="${props['caster_offset_x']}"/>

    <!-- Sensors -->

    <xacro:property name="imu_length"             value="${props['imu_length']}"/>
    <xacro:property name="imu_width"              value="${props['imu_width']}"/>
    <xacro:property name="imu_height"             value="${props['imu_height']}"/>
    <xacro:property name="imu_mass"               value="${props['imu_mass']}"/>
    <xacro:property name="imu_offset_z"           value="${props['imu_offset_z']}"/>
    <xacro:property name="imu_offset_x"           value="${props['imu_offset_x']}"/>

    <xacro:property name="lidar_height"           value="${props['lidar_height']}"/>
    <xacro:property name="lidar_radius"           value="${props['lidar_radius']}"/>
    <xacro:property name="lidar_mass"             value="${props['lidar_mass']}"/>
    <xacro:property name="lidar_offset_z"         value="${props['lidar_offset_z']}"/>

    <xacro:property name="camera_length"          value="${props['camera_length']}"/>
    <xacro:property name="camera_width"           value="${props['camera_width']}"/>
    <xacro:property name="camera_height"          value="${props['camera_height']}"/>
    <xacro:property name="camera_mass"            value="${props['camera_mass']}"/>
    <xacro:property name="camera_offset_z"        value="${props['camera_offset_z']}"/>
    <xacro:property name="camera_offset_x"        value="${props['camera_offset_x']}"/>

</robot>